/venv
/matlab/codegen
.idea/
cmake-build-debug/
/**/__pycache__
.vscode
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.asv
*.slxc
*.autosave
slprj/
.ipynb_checkpoints/
*.rt-win64
*.mexw64
*_quarc_win64/